* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
    height: 210px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(200%, -50%);
}

.number {
    width: 70px;
    height: 70px;
    border: 1px solid #000;
    text-align: center;
    line-height: 70px;
}

.number:hover {
    background: #fff200;
    cursor: pointer;
    border-radius: 35px;
    /* border: none; */
    color: #ff0000;
    text-shadow: 0px 0px 3px #616060;
    font-size: 30px;
}